
.memory-subtitle{

    color:#8fa3b8;

    margin-bottom:28px;

}

.memory-content{

    margin-top:18px;

    line-height:1.7;

    white-space:pre-wrap;

}

.memory-date{

    margin-top:18px;

    color:#8fa3b8;

    font-size:13px;

}
/* .memory-page{

    height:100%;

    overflow-y:auto;

} */